@font-face {
    font-family: 'Karnak Condensed';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/karnakcondensed.woff2") format('woff2');
}

.light-theme {
    --primary-text: black;
    --text-color: rgb(51, 65, 85);
    --border-color: rgb(211, 214, 218);
    --background: white;
    --hover-background: rgb(192, 132, 252);
    --color-correct: rgb(106, 170, 100);
    --color-present: rgb(201, 180, 88);
    --color-absent: rgb(120, 124, 126);
}

.dark-theme {
    --primary-text: white;
    --text-color: white;
    --border-color: rgb(58, 58, 60);
    --background: rgb(18, 18, 19);
    --hover-background: rgb(226, 232, 240);
    --color-correct: rgb(83, 141, 78);
    --color-present: rgb(181, 159, 59);
    --color-absent: rgb(58, 58, 60);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.animate-pop {
    animation-name: pop;
    animation-duration: 100ms;
}

.animate-shake {
    animation-name: shake;
    animation-duration: 600ms;
}

.animate-shake > div {
    border-color: rgb(254, 202, 202) !important;
}

.animate-bounce {
    animation-name: bounce !important;
    animation-duration: 1000ms !important;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: 100vh;
    transition: background-color 0.4s ease;
}

.header {
    height: 50px;
    color: var(--primary-text);
    background-color: var(--background);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.header svg {
    fill: var(--primary-text);
}

.header h4 {
    all: unset;
    font-family: 'Karnak Condensed';
    font-weight: 700;
    font-size: 37px;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.theme {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme > h5 {
    all: unset;
    font-size: 12px;
    font-weight: 500;
}

.theme-switch {
    position: relative;
    cursor: pointer;
    background-color: rgb(135, 138, 140);
    width: 32px;
    height: 20px;
    border-radius: 16px;
}

.knob {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    height: calc(100% - 4px);
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.theme-switch.checked {
    background-color: var(--color-correct);
}

.theme-switch.checked .knob {
    transform: translateX(calc(100% - 4px));
}

#message {
    position: absolute;
    top: 60px;
    right: 10px;
    opacity: 0;
    padding: 15px 25px;
    color: var(--text-color);
    font-size: 12px;
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: opacity 300ms ease;
}

.grid {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.grid > div {
    display: flex;
    gap: 5px;
}

.grid > div div {
    height: 9vh;
    width: 9vh;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--background);
}

.dashed-box {
    border-color: #a5b4fc !important;
}

.complete-row div {
    color: var(--background) !important;
    border: 2px solid #c084fc !important;
    background-color: #a855f7 !important;
}

.green-card {
    color: white !important;
    border: 2px solid var(--color-correct) !important;
    background-color: var(--color-correct) !important;
    animation: 500ms flip ease-in;
}

.yellow-card {
    color: white !important;
    border: 2px solid var(--color-present) !important;
    background-color: var(--color-present) !important;
    animation: 500ms flip ease-in;
}

.grey-card {
    color: white !important;
    border: 2px solid var(--color-absent) !important;
    background-color: var(--color-absent) !important;
    animation: 500ms flip ease-in;
}

.keyboard {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 700px;
    margin-inline: auto;
}

.keyboard button {
    all: unset;
    box-sizing: border-box;
    padding: 8px 14px;
    min-width: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 4px;
    border: 3px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.keyboard button:hover {
    color: var(--background);
    background-color: var(--hover-background);
    border: 3px solid var(--hover-background);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.keyboard button:nth-child(12) {
    margin-left: 55px;
}

.keyboard button:nth-child(21) {
    margin-right: 55px;
}

.keyboard > button.animate-click {
    background-color: #a5b4fc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    animation: 200ms click;
}

.keyboard-grey {
    color: var(--background) !important;
    background-color: var(--color-absent) !important;
}

.keyboard-yellow {
    color: var(--background) !important;
    background-color: var(--color-present) !important;
}

.keyboard-green {
    color: var(--background) !important;
    background-color: var(--color-correct) !important;
}

.splash-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions {
    position: relative;
    padding: 16px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(246, 247, 248);
    color: var(--primary-text);
    background-color: var(--background);
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    max-width: 500px;
    max-height: 90%;
    box-sizing: border-box;
    overflow-y: auto;
}

.instructions .close-icon {
    position: absolute;
    top: 15px;
    right: 40px;
    user-select: none;
    cursor: pointer;
}

.close-icon svg {
    fill: var(--primary-text);
    position: fixed;
}

.instructions .examples {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.examples .example {
    margin: 24px 0px;
}

.example-row {
    display: flex;
    gap: 4px;
}

.example-row > div {
    width: 40px;
    height: 40px;
    font-size: calc(10px + 1.5vh);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(135, 138, 140);
    box-sizing: border-box;
    user-select: none;
}

.example-row .example-correct {
    color: var(--background);
    border-color: var(--color-correct);
    background-color: var(--color-correct);
    animation: 500ms flip ease-in;
}

.example-row .example-present {
    color: var(--background);
    border-color: var(--color-present);
    background-color: var(--color-present);
    animation: 500ms flip ease-in;
}

.example-row .example-absent {
    color: var(--background);
    border-color: var(--color-absent);
    background-color: var(--color-absent);
    animation: 500ms flip ease-in;
}

@media screen and (max-width: 480px) {
    .container {
        justify-content: space-between;
    }

    .theme > h5 {
        display: none;
    }

    .grid > div div {
        height: 8vh;
        width: 8vh;
    }

    .keyboard {
        width: 100vw;
        gap: 2px;
        margin-bottom: 10vh;
    }

    .keyboard button {
        padding: 2px 6px;
        min-width: 7.7vw;
        min-height: 7.7vw;
        box-shadow: none;
        border: 1px solid var(--text-color);
        user-select: none;
    }

    .keyboard button:nth-child(11) {
        font-size: 8px;
    }
    
    .keyboard button:nth-child(12) {
        margin-left: 6vw;
    }

    .keyboard button:nth-child(21) {
        font-size: 8px;
        margin-right: 6vw;
    }

    .keyboard button:hover{
        color: var(--text-color);
        background-color: var(--background);
        border: 1px solid var(--text-color);
        box-shadow: none;
    }

    .keyboard button:active {
        background-color: var(--hover-background);
    }
}

@keyframes pop {
    from {
      transform: scale(0.8);
      opacity: 0;
    }

    40% {
      transform: scale(1.1);
      opacity: 1;
    }
}

@keyframes click {
    to {
        transform: scale(0.95);
    }
}

@keyframes flip {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
}

@keyframes bounce {
    0%, 20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}
